<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Diga-nos o seu feedback" />
    <div class="jumbotron">
        <h2>Diga-nos a sua opinião</h2>
        <p>
            Se tiver alguma dúvida ou sugestão contacte-nos
        </p>
        <p>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            <span class="fas fa-envelope"></span>
            <email endereco="email@email.com" conteudo="Enviar um e-mail"></email>
            <br />
            <span class="fas fa-phone"></span>
            900000000
            <br />
            <span class="fas fa-home"></span>
            Rua de PT - Portugal
        </p>
    </div>
</div>




