<br />
<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">Registo efetuado com sucesso</h2>
        <br />
        <img src="~/images/facapedido1.jpg" alt="Faça o seu pedido" class="center-block" />
        <br />
        <p class="text-center">
            <b>
                Já pode efetuar o login.<br />
                Pode também realizar o seu pedido
            </b>
        </p>
    </div>
</div>