<div class="container marginTop1">
    <div class="jumbotron">
        <p>
            <img src="~/images/acessonegado.png" alt="Área de Administração" />
            <h2>Acesso não autorizado !</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar para Home Page</a>
</div>
