@{
    ViewData["Title"] = "UploadFiles";
}
<img src="~/images/upload2.png" width="200" height="150" />
<hr />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @* ViewData["Erro"]  vem do controller *@
        @if (ViewData["Erro"] != null)
        {
            <img src="~/images/erro1.png" width="150" height="150" />
            <h4>@ViewData["Erro"]</h4>
        }
    </div>
    <div class="container">
        @* Resultado e Ficheiros vem do controller  *@
        @if (ViewData["Resultado"] != null)
        {
            <h4>@ViewData["Resultado"]</h4>
            <hr />
            @if (ViewBag.Ficheiros != null)
            {
                @foreach (string ficheiro in ViewBag.Ficheiros)
                {
                    <li>
                        @ficheiro
                    </li>
                }
            }
        }
    </div>
</div>